.light-theme {
  --body-bg: white;
  --button-bg: antiquewhite;
  --cell-bg: #b5b6b6;
  --open-cell-bg: #eaeaea;
  --main-font: black;
}

.dark-theme {
  --body-bg: #1C1C1C;
  --button-bg: #FADF00;
  --cell-bg: #263138;
  --open-cell-bg: #36454f;
  --main-font: white;
}

.style {
  background-color: var(--body-bg);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6vmin 1fr 6vmin;
  gap: 2vmin;
  min-width: 500px;
  width: 80vmin;
  margin: auto;
  color: var(--main-font);
}

.play-btn-container {
  display: flex;
  justify-content: center;
}

.new-game,
.continue-game {
  cursor: pointer;
  font-size: 3vmin;
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  background-color: var(--button-bg);
  border-radius: 5px;
}

.button {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;

  &__sound {
    background-image: url('./assets/icons/volume.svg');

    &--mute {
      background-image: url('./assets/icons/volume-mute.svg');
    }
  }

  &__history {
    background-image: url('./assets/icons/history.svg');
  }

  &__theme {
    background-image: url('./assets/icons/theme.svg');
  }
}

.field {
  margin: auto;
  height: 80vmin;
  width: 80vmin;
  max-width: 1200px;
  max-height: 1200px;
  display: grid;
  gap: 0.5vmin;

  &--easy {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    --font-size: 5.5vmin;
  }

  &--medium {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    --font-size: 3.5vmin;
  }

  &--hard {
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    --font-size: 1.9vmin;
  }
}

@keyframes bomb {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(5);
  }

  100% {
    transform: scale(1);
  }
}

.cell {
  cursor: pointer;
  font-size: var(--font-size);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cell-bg);

  &--open {
    background-color: var(--open-cell-bg);
  }

  &--bomb {
    animation: bomb 1s;
    background-color: transparent;
  }
}

.color {
  &--1 {
    color: blue;
  }

  &--2 {
    color: green;
  }

  &--3,
  &--4,
  &--5,
  &--6,
  &--7,
  &--8 {
    color: red;
  }

}

.counters {
  font-size: 3vmin;
  display: flex;
  justify-content: space-around
}

.popup {
  max-width: 70vmin;
  padding: 3vmin 1.5vmin;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 50%;
  top: 50vmin;
  transform: translate(-50%, -50%);

  &--message {
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
  }

  &--history {
    font-size: 3vmin;
    font-weight: bold;
    text-align: center;
  }
}