.field {
  margin: auto;
  height: 85vmin;
  width: 85vmin;
  max-width: 1200px;
  max-height: 1200px;
  display: grid;

  &--easy {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    --font-size: 5.5vmin;
  }

  &--medium {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    --font-size: 3.5vmin;
  }

  &--hard {
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    --font-size: 1.9vmin;
  }
}

.cell {
  cursor: pointer;
  font-size: var(--font-size);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cell-bg);
  border: 1px solid var(--border);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 0.5vmin 0.25vmin rgba(255, 255, 255, 0.7) inset;
  }

  &:active {
    transform: scale(0.85);
  }

  &--open {
    cursor: default;
    background-color: var(--body-bg);

    &:hover {

      box-shadow: none;
    }
  }

  &--bomb {
    border: none;
    animation: bomb 1s;
    background-color: transparent;
  }
}

.color {
  &--1 {
    color: #0076ff;
  }

  &--2 {
    color: green;
  }

  &--3,
  &--4,
  &--5,
  &--6,
  &--7,
  &--8 {
    color: rgb(251, 67, 0);
  }
}