.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
  overflow: hidden;
  gap: 3vmin;
  transform: scaleY(0);
  opacity: 0;
  transition: 0.5s ease-in-out;

  &--animation {
    opacity: 1;
    transform: scaleY(1);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    max-width: 1200px;
    width: 90vw;
  }

  &__message {
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
  }

  &__history {
    width: 90vw;
    max-width: 600px;
    text-align: center;
  }
}

.popup__message {
  margin: 1.5vmin;
}

.history {
  &__list {
    max-height: 60vh;
    overflow-y: auto;
    padding-left: 30px;
    margin-bottom: 0;
  }

  &__result {
    text-align: left;
    font-size: 2vmin;
    margin-bottom: 2vmin;
  }
}

.difficulty-btn__container {
  display: flex;
  justify-content: center;
  margin: 4vmin 0 0;
  font-size: 2.5vmin;
  gap: 5vmin;
  order: 1;
}

.difficulty-btn {
  cursor: pointer;
  padding: 1vmin 2vmin;

  &--active,
  &:hover {
    outline: 2px solid var(--main-font);
  }
}

.top-result-container {
  order: 2;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.name-input {
  padding: 1vmin 2vmin;
  font-size: 5vmin;
  width: 30%;
  background-color: var(--body-bg);
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main-font);
  color: var(--main-font);
}

.history__empty {
  text-align: center;
  padding-top: 5vmin;
}

.size__label,
.size__input {
  cursor: pointer;
}