.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 10fr 5px 0.5fr;
  max-width: 1200px;
  max-height: 1200px;
  min-width: 500px;
  min-height: 500px;
  width: 85vmin;
  margin: auto;
  gap: 1vmin;
  padding: 1vmin;
  color: var(--main-font);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Play', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}