.settings {

  &__container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 5vmin;
  }


  &__title {
    text-align: center;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 2vmin;

    &.size,
    &.mines {
      display: flex;
      flex-direction: column;
    }
  }

  &__apply {
    background: url('./assets/icons/apply.svg'), green;
  }

  &__close {
    background: url('./assets/icons/close.svg'), red;
  }

  &__apply,
  &__close {
    cursor: pointer;
    display: inline-block;
    background-size: 4vmin;
    background-repeat: no-repeat;
    background-position: center;
    width: 5vmin;
    height: 5vmin;
    border-radius: 5vmin;
  }
}

.size {
  &__label {
    font-size: 2vmin;
  }

  &__input {
    margin: auto;
  }
}