.light-theme {
  --body-bg: #abd1c6;
  --button-bg: #FADF00;
  --cell-bg: #96b7ad;
  --open-cell-bg: #abd1c6;
  --main-font: #001e1d;
  --volume-icon: url('./assets/icons/volume.svg');
  --volume-icon-off: url('./assets/icons/volume-mute.svg');
  --theme-icon: url('./assets/icons/sun.svg');
  --history-icon: url('./assets/icons/history.svg');
  --settings-icon: url('./assets/icons/settings.svg');
  --turns-icon: url('./assets/icons/turn.svg');
  --flag-icon: url('./assets/icons/flag.svg');
  --time-icon: url('./assets/icons/time.svg');
  --border: #abd1c6;
}

.dark-theme {
  --body-bg: #1C1C1C;
  --button-bg: #FADF00;
  --cell-bg: #263138;
  --open-cell-bg: #36454f;
  --main-font: white;
  --volume-icon: url('./assets/icons/volume-dark.svg');
  --volume-icon-off: url('./assets/icons/volume-mute-dark.svg');
  --theme-icon: url('./assets/icons/moon.svg');
  --history-icon: url('./assets/icons/history-dark.svg');
  --settings-icon: url('./assets/icons/settings-dark.svg');
  --turns-icon: url('./assets/icons/turn-dark.svg');
  --flag-icon: url('./assets/icons/flag-dark.svg');
  --time-icon: url('./assets/icons/time-dark.svg');
  --border: #1C1C1C;
}